.container_varukorg {
    width: 80%;
    height: 80%;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .container_varukorg > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .varukorg-dish {
    border: 2px solid black;
    display: flex;
    margin-bottom: 1em;
    max-width: 70%;
    min-width: 20em;
    padding: 1em;
    box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.197);
    position: relative;
  }
  
  .varukorg-dish-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
  }
  
  .image-dish-small {
    width: 20%;
    height: 20%;
  }

  .btn-confirm {
    padding: 0.5em;
    width: 10em;
    margin-top: 1em;
    background-color: var(--orange);
    border: none;
    transition: 0.2s;
  }

  .btn-confirm:hover {
    transition: 0.2s;
    transform: scale(103%);
    cursor: pointer;
  }

  .btn-confirm:active {
    transition: 0s;
    background-color: #cf7520;
  }

  .total-sum {
    font-weight: 500;
  }

  .close-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 1em;
    top: 1em;
  }

  .close-icon:hover {
    cursor: pointer;
    transition: 0.2s;
  }

  @media (max-width: 500px) {
    .container_varukorg {
      width: 100%;
    }

    .varukorg-dish {
      min-width: 15em;
    }
  }