
.hero-image-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	width:100%;
	max-width: 1024px;
	margin: 0 auto  2em;
	padding-bottom: 2em;

}

.menu-button{
	position: absolute;
}

.hero-image{
	width:100%;
	height: 80%;
	border-radius: 0.3em;
}


