.hamburger-overlay{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: left;
	width: 100%;
	height: 50%;
	padding-top: 2em;
	font-family: var(--heading-font);
	background-color: var(--background-grey);
}

.hamburger-main-menu {
	list-style-type: none;
	/* border: 1px solid lime; */
	
}

.hamburger-main-menu > li {
	margin: 1em 0;
}

