.hamburger-overlay{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-family: var(--heading-font);
	color: var(--offwhite) ;
	background-color: var(--background-grey);
}

.hamburger-overlay:nth-child(even){
	margin: 1em 0;

}


