nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: left;
	position: fixed;
	right: -200px;
	transition: 0.3s all ease;
	width: 100%;
	height: 50%;
	padding-top: 2em;
	font-family: var(--heading-font);
	background-color: var(--background-grey);
}

nav.open{
	right: 0px;
}


.hamburger-main-menu {
	list-style-type: none;
	/* border: 1px solid lime; */
	
}

.hamburger-main-menu > li {
	margin: 1em 0;
	color: var(--offwhite)
}

