.header{
	position: relative;
	z-index: 3;
}

.header-mobile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0.8em 0.3em;
	width: 100%;
	background-color: var(--background-grey);
}

.header-logo{
	width: 15%;
	min-width: 5em;
	
}

.header-logo:hover{
	cursor: pointer;
}

.header-desktop{
display: none;
}

/* styling iconer */
.phone{
	display: flex;
	align-items: center;
	width: fit-content;
	padding:0;
	color:var(--offwhite)
}

.phone-icon{
	
	padding-right: 0.3em;
}

.cart{
	color: var(--offwhite);
	padding-bottom: 0.4em;
}

.cart-mobile{
	position:absolute;
	right: 3.5em;
}

.cart-desktop{
	margin-right: 1em;
}
.added-text {
	visibility: hidden;
	font-weight: bold;
	color: green;
}

.bars{
	color: var(--offwhite);
	width: fit-content;
	margin-right: 1em;
}


.desktop-main-menu{
	display: flex;
	flex-direction: row;
}

.desktop-main-menu > li{
	list-style-type: none;
	padding: 0 1em;
}

.link{
	transition: 0.2s;
	color: var(--offwhite);
}

.link:hover {
	cursor: pointer;
	transform: scale(1.1)
}

.mobile-link:hover{
	cursor: pointer;
}

/* hamburger overlay */
.hamburger-overlay{
	display: none;
	
}

.hamburger-overlay-open{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
	z-index: 10;
	position:absolute;
	top: 0px;
	width: 100%;
	height: 20em;
	font-family: var(--heading-font);
	font-size: var(--fontSmall);
	border: 1px solid var(--offwhite);
	border-radius: 0 0 0.3em 0.3em ;
	background-color: var(--background-gray);
}

.faXmark{
	color: var(--offwhite);
	align-self:flex-end;
	position: absolute;
	top: 20px;
	margin-right: 6%;
}

.hamburger-main-menu {
	list-style-type: none;
	
}

.hamburger-main-menu > li {
	margin: 2em 0;
	color: var(--offwhite)
}
.change-color-cart{
	color: var(--orange);
}
.text-under-cart{
	margin-top: 0.7em;
}

/* tablet */
@media (min-width:481px) and (max-width:768px) {

	.cart{
		
		right: 4.5em;
		
	}
	
	.bars{
	margin-right: 2em;
 }
}

/* laptop, small screens */

@media (min-width:769px) and (max-width:1024px){

	.header-mobile{
		display: none;
	}

	.header-desktop{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding: 3em 0;
	width: 100%;
	height: 5em;
	font-family: var(--heading-font);
	font-size: 1.3em;
	color: var(--offwhite);
	background-color: var(--background-grey);
	}

	.header-desktop > :nth-child(even){
		margin: 0 2em;
		
	}

	.header-logo{
		position: absolute;
		left:1em;
		/* width: 8em; */
		
	}

	.hamburger-overlay-open{
		display: none;
	}
}




/* desktop, larger screens */
@media (min-width:1025px){
	.header-mobile{
		display: none;
	}
	.header-desktop{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		padding: 3em 0;
		width: 100%;
		height: 5em;
		font-family: var(--heading-font);
		font-size: 1.3em;
		color: var(--offwhite);
		background-color: var(--background-grey);
		}
	
		.header-desktop > :nth-child(even){
			margin: 0 2em;
		}
	
		.header-logo{
			position: absolute;
			left:2em;
			/* width: 10em; */
		}

		.cart-desktop{
			margin-right: 2em;
		
		}

		.hamburger-overlay-open{
			display: none;
		}
}