.header-mobile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 0.8em 0.3em;
	width: 100%;
	background-color: var(--background-grey);
}

.header-logo{
	width: 15%;
	min-width: 5em;
	
}

.header-logo:hover{
	cursor: pointer;
}

.header-desktop{
display: none;
}

.phone{
	display: flex;
	align-items: center;
	width: fit-content;
	padding:0;
	color:var(--offwhite)
}

.phone-icon{
	
	padding-right: 0.3em;
}

.cart{
	color: var(--offwhite);
	padding-bottom: 0.4em;
}

.cart-mobile{
	position:absolute;
	right: 3.5em;
}

.cart-desktop{
	margin-right: 1em;
}

.bars{
	color: var(--offwhite);
	width: fit-content;
	margin-right: 1em;
}


.desktop-main-menu{
	display: flex;
	flex-direction: row;
}

.desktop-main-menu > li{
	list-style-type: none;
	padding: 0 1em;
}

.link{
	transition: 0.2s;
	color: var(--offwhite);
}

.link:hover {
	cursor: pointer;
	transform: scale(1.1)
}


/* hamburger overlay */
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	text-align: left;
	position: fixed;
	right: -200px;
	transition: 0.3s all ease;
	width: 100%;
	height: 50%;
	padding-top: 2em;
	font-family: var(--heading-font);
	background-color: var(--background-grey);
}

nav.open{
	right: 0px;
}


.hamburger-main-menu {
	list-style-type: none;
	/* border: 1px solid lime; */
	
}

.hamburger-main-menu > li {
	margin: 1em 0;
	color: var(--offwhite)
}


/* tablet */
@media (min-width:481px) and (max-width:768px) {

	.cart{
		
		right: 4.5em;
		
	}
	
	.bars{
	margin-right: 2em;
 }
}

/* laptop, small screens */

@media (min-width:769px) and (max-width:1024px){

	.header-mobile{
		display: none;
	}

	.header-desktop{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	padding: 3em 0;
	width: 100%;
	height: 5em;
	font-family: var(--heading-font);
	font-size: 1.3em;
	color: var(--offwhite);
	background-color: var(--background-grey);
	}

	.header-desktop > :nth-child(even){
		margin: 0 2em;
		
	}

	.header-logo{
		position: absolute;
		left:1em;
		/* width: 8em; */
		
	}
}




/* desktop, larger screens */
@media (min-width:1025px){
	.header-mobile{
		display: none;
	}
	.header-desktop{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		padding: 3em 0;
		width: 100%;
		height: 5em;
		font-family: var(--heading-font);
		font-size: 1.3em;
		color: var(--offwhite);
		background-color: var(--background-grey);
		}
	
		.header-desktop > :nth-child(even){
			margin: 0 2em;
		}
	
		.header-logo{
			position: absolute;
			left:2em;
			/* width: 10em; */
		}

		.cart-desktop{
			margin-right: 2em;
		
		}

}