
.hero-image-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	width:100%;
	max-width: 1024px;
	margin: 0 auto  2em;
	padding-bottom: 2em;

}

.menu-button{
	margin-top: 1em;
}

.hero-image{
	width:100%;
	height: 80%;
	border-radius: 0.3em;
}

/* tablet */
@media (min-width:481px) and (max-width:768px) {
	.menu-button{
		position: absolute;
	}
}

/* laptop, small screens */


@media (min-width:769px) and (max-width:1024px){

	.header-mobile{
		display: none;
	}

	.menu-button{
		position: absolute;
		top:17em;

}
}

/* desktop, larger screens */
@media (min-width:1025px){
	.menu-button{
		position: absolute;
		top:20em;

	}

}