
.hero-image-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position:relative;
	width:100vw;
	max-width: 800px;
	margin: 0 auto  2em;
}

.menu-button{
	position: absolute;
}

.hero-image{
	width:100%;
	height: auto;
}


/* tablet */
@media (min-width:481px) and (max-width:768px) {

}

/* laptop, small screens */

@media (min-width:769px) and (max-width:1024px){
	.menu-button{
		position:none;
	}
}


/* desktop, larger screens */
@media (min-width:1025px){
	
}