
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form > input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.input-container input{
    display: flex;
    margin-top: 6em;
   
}
.input-container2{
    margin-top: 1.8em;
    margin-bottom: 1.9em;
}

.error{
    color: var(--offwhite);
    margin-bottom: 0;
   height: 2em;
}

.title-page{
    color: var(--offwhite);
    font-size: var(--fontXlarge);
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
