
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form > input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.inlogg-input {
    border: 3px solid rgba(0,0,0,0);
    padding: 0.5em 1em;
    font-size: var(--fontSmall);

}
.input-container input{
    display: flex;
    margin-top: 6em;
   
}
.input-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    margin-bottom: 1.9em;
}

.error{
    color: var(--offwhite);
    margin-bottom: 0;
    padding:0.2em;
    height: 2em; 
    width: 15em;
    overflow-wrap: break-word;
}

.title-page{
    color: var(--offwhite);
    font-size: var(--fontLarge);
    font-weight: 500;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valid-form{
   border-color: rgb(4, 161, 4);
   padding: 0.5em 1em;
   font-size: var(--fontSmall);

}

.login-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--offwhite);
    font-size: var(--fontLarge);
}

.app {
    margin: 0 auto;
}